{% extends "marketlistings/base_template.html" %}

{% block pagetitle %}Edit Listing{% endblock %}

{% block maincontent %}
<div class="py-5">
    <div class="container">
        <h2 class="text-primary mb-4 text-center">Add a New Listing</h2>
        <form method="post" class="border p-4 bg-light shadow rounded">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}